<!DOCTYPE html>
 <html lang="ru">
 <head>
   <meta charset="UTF-8">
   <title>🐱Meow-Meow🍨🍦🍧</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
  <div class="dessert-wrapper">
    <!-- Левый тортик -->
    <div class="cake left">
      <div class="cake-emoji">🍰</div>
      <div class="cake-face left-face">
        <div class="cake-eyes">
          <div class="cake-eye left-eye"></div>
          <div class="cake-eye right-eye"></div>
        </div>
        <div class="cake-smile tongue"></div>
        <div class="cake-cheek left"></div>
        <div class="cake-cheek right"></div>
      </div>
    </div>

    <!-- Мороженка -->
    <div class="ice-cream">
      <div class="choco-top"></div>
      <div class="eyes">
        <div class="eye left"></div>
        <div class="eye right"></div>
      </div>
      <div class="smile"></div>
      <div class="cheek left"></div>
      <div class="cheek right"></div>
    </div>

    <!-- Правый тортик -->
    <div class="cake right">
      <div class="cake-emoji">🍰</div>
      <div class="cake-face right-face">
        <div class="cake-eyes">
          <div class="cake-eye left-eye"></div>
          <div class="cake-eye right-eye"></div>
        </div>
        <div class="cake-smile laugh"></div>
        <div class="cake-cheek left"></div>
        <div class="cake-cheek right"></div>
      </div>
    </div>
  </div>
 </head>
 <body>
   <div class="container">
     {% block content %}{% endblock %}
   </div>
 </body>
 </html>