<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Meow-Meow</title>
</head>
<body>
  <h1>Добро пожаловать в кафе Meow-Meow!</h1>
  <form action="/order" method="post">
    <label for="product">Выберите напиток или десерт:</label>
    <select name="product" id="product" required>
      <option value="" hidden>---</option>
      <option value="cupcake">Капкейк</option>
      <option value="ice-cream">Мороженое</option>
      <option value="eclair">Эклер</option>
      <option value="croissant">Круассан</option>
      <option value="cocktail">Коктейль</option>
      <option value="hot-chocolate">Горячий шоколад</option>
      <option value="tea">Чай</option>
      <option value="coffee">Кофе</option>
    </select>
    <button type="submit">Подтвердить</button>
  </form>
</body>
</html>