<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>🐱Meow-Meow🍨🍦🍧</title>
</head>
<body>
  <h1>🐱Добро пожаловать в кафе Meow-Meow!🍨🍦🍧</h1>
  <h2>🐱Здесь вы можете заказать вкусные напитки и десерты!🐱</h2>
  <form action="/order" method="post">
    <input type="text" name="name" placeholder="ВВЕДИТЕ ВАШЕ ИМЯ">
    <p></p>
    <label for="product">🐱Выберите напиток или десерт:</label>
    <select name="product" id="product" required>
      <option value="" hidden>---</option>
      <option value="cupcake">Капкейк</option>
      <option value="ice-cream">Мороженое</option>
      <option value="eclair">Эклер</option>
      <option value="croissant">Круассан</option>
      <option value="cocktail">Коктейль</option>
      <option value="hot-chocolate">Горячий шоколад</option>
      <option value="tea">Чай</option>
      <option value="coffee">Кофе</option>
    </select>
    <p></p>
        <label for="flavor">🐱Выберите вкус:</label>
    <select name="flavor" id="flavor" required>
      <option value="" hidden>---</option>
      <option value="strawberry">Клубника</option>
      <option value="mint">Мята</option>
      <option value="chocolate">Шоколад</option>
      <option value="vanilla">Ваниль</option>
      <option value="caramel">Карамель</option>
    </select>
    <p></p>
    <label for="topping">🐱Выберите топпинг:</label>
    <select name="topping" id="topping">
      <option value="" hidden>---</option>
      <option value="cherry">Вишенка</option>
      <option value="sprinkles">Посыпка</option>
      <option value="chocolate-sause">Шоколадный соус</option>
      <option value="marshmallows">Зефирки</option>
      <option value="pieces-of-chocolate">Кусочки шоколада</option>
      <option value="caramel-sause">Карамельный соус</option>
      <option value="powdered-sugar">Сахарная пудра</option>
    </select>
    <p></p>
    <button type="submit">Подтвердить</button>
  </form>
</body>
</html\

