{% extends "base.html" %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>🐱Ваш заказ</title>
</head>
  <h1>🐱Спасибо за заказ, <strong>{{ new_order["name"] }}</strong>!🐱</h1>
  <h2>🐱Ваш заказ принят и будет обработан в ближайшее время!🐱</h2>
  <h3>🐱Вы заказали:</h3>
  <h4>🐱Напиток/десерт: <strong>{{ new_order["product"] }}🐱</strong></h4>
  <h4>🐱Вкус: <strong>{{ new_order["flavor"] }}🐱</strong></h4>
  <h4>🐱Топпинг: <strong>{{ new_order["topping"] }}🐱</strong></h4>
  <a href="/order">Сделать новый заказ</a>
</body>
</html>
{% endblock %}